body {
  background-color: #ecf0f1;
}

body {
  color: rgb(52, 73, 94);
}

.btn {
  cursor: pointer;
}

.clicked {
  color: #f39c12;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}
